<h3>Homepage</h3>
<div infinityscroll="getItems()" >
<div ng-repeat="bookmark in home.items">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a ui-sref="root.home.item({id:bookmark.slug})">
                <img ng-src="http://brand.dv/data/code.php?x=300x200/{{bookmark.color}}/fff&text={{bookmark.title | limitTo: 20}}">
            </a>
            <div class="caption">
                <h3><a ui-sref="root.home.item({id:bookmark.slug})">{{bookmark.title}}</a></h3>
                Option A<input type="checkbox" ng-model="bookmark.option.a" >
                Option B<input type="checkbox" ng-model="bookmark.option.b" >
                <button add-to-cart item="bookmark" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    </div>
</div>
    </div>